h1{
    text-align: center;
    background-color: lightblue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

fieldset{
    display:flex;
    flex-direction:column;
    width:500px;
}

form{
    justify-self: center;
}

input{
    font-size: 1.2rem;
}

select{
    font-size: 1.2rem;
}

#grade-radio{
    display: flex;
    flex-direction: row;
}

#submitbutton{
    height:50px;
    width:100px;
    background-color:lightgray;
    text-align:center;
}