.image-card{
  padding: 4rem;
  border: rgb(23, 52, 86) solid 2rem;
  border-radius: 50px;
  background-image: linear-gradient(45deg, black 30%, white 90%);

  corner-shape: bevel;
}

.image-card > img{
  height: 300px;
}

.container{
  display: flex;
  gap: 3rem;
}