<nav>
    <a id="home" href="/index.html">
        <img id="logo" src="https://avatars.githubusercontent.com/u/236268114?v=4"
            alt="A black-and-white picture of a juniper tree.">
    </a>

    <div id="linkssection">
        <h1 id="navheader">| MY STUFF |</h1>
        <div id="links">
            <a class="navlinks" href='/projects page/projects.html'> Projects </a>
            <a class="navlinks" href="/contact page/contact.html">Contact</a>
        </div>
    </div>
</nav>

<style>
    nav {
        width: 100vw;
        top: 0;
        align-self: center;
        position: sticky;
        list-style-type: none;
        vertical-align: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--bg-secondary);
        font-family: Arial, Helvetica, sans-serif;
    }

    nav h1{
        color: var(--title-color);
        align-items: center;
        text-align: center;
        margin: 10px;
    }

    #logo {
        width: 120px;
        border-radius: 0;
    }

    #home {
        float: left;
        display: block;
        color: var(--title-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #home:hover {
        background-color: var(--bg-primary);
    }

    #navtext {
        float: none;
        text-align: center;
        color: var(--title-color);
        font-size: 20px;
    }

    #links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #linkssection {
        display: flex;
        flex-direction: column;
    }

    .navlinks {
        background-color: var(--bg-secondary);
        display: block;
        color: var(--title-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        transition: background-color 0.25s;
        transition: color 0.25s;
        border: var(--title-color) 1px solid;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 20px;
    }

    .navlinks:hover {
        background-color: var(--title-color);
        color: var(--bg-primary);
    }
</style>