<nav>
    <ul>
        <li id="home">
            <a href="/index.html">
                <img id="logo" src="https://avatars.githubusercontent.com/u/236268114?v=4"
                    alt="A black-and-white picture of a juniper tree.">
            </a>
        </li>
    </ul>
    <ul>
        <li id="navtext">| MY STUFF |</li>
        <li>
            <a href='/projects page/projects.html'>
                Projects
            </a>
        </li>
        <li>
            <a href="/contact page/contact.html">Contact</a>
        </li>
    </ul>
</nav>

<style>
    #logo {
        width: 100px;
        border-radius: 0;
    }

    #home {
        float: left;
    }

    #navtext {
        float: none;
        text-align: center;
        color: var(--title-color);
        font-size: 20px;
    }

    nav {
        width: 100vw;
        top: 0;
        align-self: center;
        position: sticky;
    }

    ul {
        list-style-type: none;
        vertical-align: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        font-family: Arial, Helvetica, sans-serif;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul li a:hover {
        background-color: #111111;
    }
</style>